# See https://docs.pi-hole.net/docker/, https://github.com/pi-hole/docker-pi-hole/ and https://docs.pi-hole.net/
services:
  pihole:
    container_name: pihole
    image: pihole/pihole:latest
    ports:
      # DNS Ports must remain public
      - "53:53/tcp"
      - "53:53/udp"
    environment:
      TZ: "{{ timezone }}"
      FTLCONF_webserver_api_password: "{{ lookup('env', 'PIHOLE_PASSWORD') }}"
      FTLCONF_dns_listeningMode: 'ALL'
    volumes:
      # For persisting Pi-hole's databases and common configuration file
      - '/srv/pihole/data:/etc/pihole'
    restart: unless-stopped
    networks:
      - gateway

networks:
  gateway:
    external: true