services:
  gitea:
    container_name: gitea
    image: docker.gitea.com/gitea:latest-rootless
    ports:
      - "2222:2222"
    environment:
      - GITEA__server__DOMAIN=gitea.{{ domain }}
      - GITEA__server__ROOT_URL=https://gitea.{{ domain }}/
      - GITEA__server__SSH_DOMAIN=gitea.{{ domain }}
    volumes:
      - /srv/gitea/data:/var/lib/gitea
      - /srv/gitea/config:/etc/gitea
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    networks:
      - gateway

networks:
  gateway:
    external: true